@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "plainLight";
  src: url("./fonts/plain-light-webfont.ttf");
}
@font-face {
  font-family: "proBoo";
  src: url("./assets/NBInternationalProBoo.ttf");
}
@font-face {
  font-family: "plainRegular";
  src: url("./fonts/plain-regular-webfont.ttf");
}
@font-face {
  font-family: "silkLight";
  src: url("./fonts/silkserif-lightitalic-webfont.ttf");
}
@font-face {
  font-family: "silkRegular";
  src: url("./fonts/silkserif-regularitalic-webfont.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #faf8f3;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-logo {
  /* width: 90%; */
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  margin: 0 auto;
}
.nav_logo h1 {
  font-size: 2.5vw;
  color: #141414;
  mix-blend-mode: difference;
}
.login-logo h2 {
  font-family: "plainRegular";
  color: #141414;
  line-height: none;
}
.label {
  font-family: "plainRegular";
}

#loginButton {
  font-family: "plainRegular";
}

.nav_menu h1 {
  /* position: relative; */
  margin: 0;
  padding: 0;
  font-family: "plainLight";
  line-height: normal;
  transition: all ease-in-out;
}
.nav_menu .second {
  position: absolute;
  opacity: 0 !important;
}
.menu h1 {
  mix-blend-mode: difference;
}
.nav_menu {
  position: relative;
  overflow: hidden;
  width: max-content;
  transition: all ease-in-out;
}
.nav_menu:hover .first {
  transform: translateY(-100%) !important;
  transition: all 0.3s ease-in-out 0.1s;
  opacity: 0 !important;
}
.nav_menu:hover .second {
  transform: translateY(-100%) !important;
  transition: all 0.3s ease-in-out 0.2s;
  opacity: 1 !important;
}

.nav_menu::after {
  content: "";
  position: absolute;
  width: 50%;
  /* transform: scale(0); */
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: 0.4s ease-in-out;
  background-color: #141414;
}

.nav_menu:hover::after {
  opacity: 1;
  width: 100%;
  transition: 0.4s ease-in-out cubic-bezier(0.19, 1, 0.22, 1);
}

.over {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-linear-gradient(to top, #151515, transparent);
  background-image: linear-gradient(to top, #151515, transparent);
  /* background-color: ; */
  z-index: 400;
}
/* .BannerText h1 {
  backdrop-filter: blur(10px);
} */
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 10px 10px 10px grey;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.bottom-img {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.card:hover .bottom-img {
  opacity: 1;
}

.card:hover .card-detail {
  opacity: 1;
  transform: translateX(11vw);
}
.card-detail {
  transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
  transform: translateX(20vw);
  bottom: 0;
  opacity: 1;
  background-color: #1a1a1a;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-items: space-between;
  place-items: center;
  border-radius: 50px 50px 50px 50px;
  padding: 20px 5px;
  width: 100px;
  height: 20px;
}
.work > h1 {
  white-space: nowrap;
}
.work {
  width: 50%;
  height: 4vw;
  position: relative;
  transition: all ease-in-out cubic-bezier(0.19, 1, 0.22, 1);
  border-bottom: 0.6px solid #141414;
}
.hoverlay {
  scale: 0;
  z-index: 300;
}

.work:hover {
  font-family: "silkLight";
  transition: all 1s ease-in-out cubic-bezier(0.19, 1, 0.22, 1);
}
.work:hover .hoverlay {
  scale: 1;
}
